@charset "utf-8";
/* CSS Document */

/* Genral 
========================================================================================*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    font-size: 0;
    line-height: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

.alingLeft {
    float: left
}

.alingRight {
    float: right
}

:focus {
    outline: none;
}

img {
    vertical-align: top;
    border: 0;
    max-width: 100%
}

p {
    padding: 0 0 15px 0
}

strong {
    font-weight: bold
}

address {
    font-size: 13px;
    font-style: normal
}

section:after {
    content: ".";
    display: block;
    font-size: 0;
    line-height: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

section {
    display: inline-block;
}

* html section {
    height: 1%;
}

section {
    display: block;
}

.pageContainer {
    display: none;
}

.pageContainer:first-child {
    display: block;
}


article fieldset ul {
    padding: 0;
    margin: 0;
}

article fieldset ul li {
    padding: 0;
    margin: 0 0 10px 0;
    float: none;
}

article fieldset label {
    width: 80px;
    display: inline-block;
    vertical-align: top;
}

article fieldset li:before {
    display: none;
    padding: 0;
    margin: 0
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="date"],
input[type="url"] {
    font-family: Helvetica, Arial, sans-serif;
    border: 2px solid green;
    height: 40px;
    width: 100%;
    background-color: gray;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    box-sizing: border-box;
}
textarea{
    font-family: Helvetica, Arial, sans-serif;
    border: 2px solid green;
    height: 100px;
    width: 100%;
    background-color: gray;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    box-sizing: border-box;
}


input[type="submit"],
input[type="button"] { background-color: green; color: white; border: 2px solid green; width: 100%;height: 40px; font-weight: bold; font-size: 14px;border-radius: 15px;}

.binfo {
    height: 122px;

    border: 2px solid black;
    text-align: left;
    color: blanchedalmond;
    font-family: sans-serif;
    padding: 14px;
    line-height: normal;
    font-weight: bolder;
    background-image: url(https://lh3.googleusercontent.com/-9HtH5v3j2tU/Wgfl_IbXkgI/AAAAAAAAAZk/JGEpGLZc2BE55vWg74MDF5H-GzLrLrhsQCL0BGAs/w265-d-h353-n-rw/foterbackground.jpg);
    background-size: cover;
    box-shadow: 2px 2px 12px 2px white;

}

.donate {
    width: 190px;
    float: right;
    margin-top: -60px;
}



.prayer {
    text-align: center;
    color: snow;
    font-size: 14px;
    font-weight: bold;
    background-color: royalblue;
    width: 50%;
    padding: 9px;
    margin-left: 22%;
    border-radius: 15px 34px;

}

/* latin */
@font-face {
  font-family: 'Homenaje';
  font-style: normal;
  font-weight: 400;
  src: local('Homenaje Regular'), local('Homenaje-Regular'), url(http://fonts.gstatic.com/s/homenaje/v7/4S5MkF9F4U5BChzwjsyu0nYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Six Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Six Caps'), local('SixCaps'), url(http://fonts.gstatic.com/s/sixcaps/v8/kHNZYYf63qmp8C-aw9f9pnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
