   .tablink {
            background-color: #555;
            color: white;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 50%;
        }

        .tablink:hover {
            background-color: #777;
        }

        /* Style the tab content */

        .tabcontent {
            color: white;
            display: none;
            padding: 0px;
            text-align: center;
            height: auto;
            border: 3px solid;
        }

        #photo {
            background-color: none;
        }

        #video {
            background-color: none;
        }


